a{
  text-decoration: none;
  color: rgb(43, 39, 39);
  cursor: pointer;
}
body {
  font-family: cursive;
  height: 100vh;

}

#sayingsHolder {
background-color: beige;
margin: 0px 200px;
font-size: 25px;
color: gray;
padding-top: 15px;
border-radius: 10px;
}

#home {
  border: none;
  color: black;
}

.babyBlue {
  background-color: #808080;
  margin: 8px;
  color: rgb(236, 234, 234);
}

#media {
  background: linear-gradient(60deg, #C1E1DC, #FFCCAC,#C1E1DC, #FFEB94, rgb(201, 159, 201), #FDD475);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 9%}
  50%{background-position:100% 92%}
  100%{background-position:0% 9%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 9%}
  50%{background-position:100% 92%}
  100%{background-position:0% 9%}
}
@keyframes AnimationName {
  0%{background-position:0% 9%}
  50%{background-position:100% 92%}
  100%{background-position:0% 9%}
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
