

body {
  font-family: sans-serif;

}

.wrapper{
    margin: 5% 10%;
    background: beige;
    border-radius: 1rem;
}

.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}

.imgFormat {
  width: 50%;
  height: auto;
}

.liked {
  border: 1px solid red !important;

}



#header {
    text-align: center;
    font-weight: bolder;
}

#buttons {
    margin-bottom: 1rem;
    display: space-between;
}
.btn {
    position: relative;

}

#media {
  background: linear-gradient(60deg, #C1E1DC, #FFCCAC, #FFEB94, #FDD475);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 9%}
  50%{background-position:100% 92%}
  100%{background-position:0% 9%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 9%}
  50%{background-position:100% 92%}
  100%{background-position:0% 9%}
}
@keyframes AnimationName {
  0%{background-position:0% 9%}
  50%{background-position:100% 92%}
  100%{background-position:0% 9%}
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
