#body {
    background-color: #ffeb94;
}

.card-title,
.card-text {
    color: black;
}

.container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* max-width: 200px;
    max-height: 200px; */
}

.carousel-inner {
    max-width: 500px;
    max-height: 500px;
}

#carouselConts1,
#carouselConts2,
#carouselConts3 {
    max-width: fit-content;
    max-height: 220px;
}

.fav {
    display: flex;
    margin-top: 14px;
    margin-left: 45%;
    max-height: fit-content;
    max-width: fit-content;
}

.sectTitle {
    margin-top: 5%;
}

.foot-cont {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}