
body {
    height: 100vh;
}

#home {
    border: none;
    color: black;
}

#redoText,
#heartText {
    padding: 3px;
}



.navBtns {
    display: flex;
}

.btnAlign {
    display: inline;
    padding: 20px 10px 0 0;
}

#gifHolder {
    display: block;
    margin-left: auto;
    margin-right: auto;

    
}

.gifHolderSize {
    width: auto;
    height: auto;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    color: black;

}

.babyBlue {
    background-color: #808080;
    margin: 8px;
    color: #C1E1DC;
}

.babyBlue:hover {
    background-color: #C1E1DC;
    color: #808080;
}

#media {
    background: linear-gradient(60deg, #C1E1DC, #FFCCAC, #C1E1DC, #eeb7f0);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
}
@-webkit-keyframes AnimationName {
0%{background-position:0% 9%}
50%{background-position:100% 92%}
100%{background-position:0% 9%}
}
@-moz-keyframes AnimationName {
0%{background-position:0% 9%}
50%{background-position:100% 92%}
100%{background-position:0% 9%}
}
@keyframes AnimationName {
0%{background-position:0% 9%}
50%{background-position:100% 92%}
100%{background-position:0% 9%}
}